<!-- <app-navbar></app-navbar> -->
<!-- HTML del header -->


<div class="wrapper">
  
    <div class="right"></div>

   <!-- HTML del header -->
    <nav class="nav" #navbar>
        <ul>
            <li class="logo"><a href="">Inicio</a></li>
            <li class="menu"><a routerLink='/peliculas'>Peliculas</a></li>
            <li class="collection"><a href="">Series</a></li>
            <li class="explore"><a routerLink="/login">Iniciar Sesión</a></li>
            <li class="search"><a routerLink="/register">Registrarse</a></li>

         
        </ul>
    </nav>

   <!-- FIN HTML del header -->

   <!-- INICIO DE LA PORTADA -->

    <div class="name" #title>Las mejores Series y Peliculas</div>
    <div class="content">
        <div class="img-wrapper">
            <div class="banner"></div>
        </div>

        <div class="info">
            <ul>
                <li>unpslash.com</li>
                <li>@karina.com</li>
            </ul>
        </div>
    </div>

     <!-- FIN DE LA PORTADA -->

</div>

<!-- FIN HTML del header -->

<hr>

<div data-aos="fade-up" data-aos-duration="1000" class="content1">


    <div class="flex">
        <div class="flex-text">
            <h2>Disfruta en tu mac</h2>
        </div>

        <div class="flex-img">
            <img class="mac" src="../../assets/img/mac.png">
        </div>
    </div>


</div>
<hr>
<div data-aos="zoom-in" data-aos-duration="1000" class="content2">

    <div class="flex">
        <div class="flex-text">
            <h2>Disfruta en tu Iphone</h2>
        </div>

        <div class="flex-img">
            <img class="mac" src="../../assets/img/iphone.png">
        </div>
    </div>


</div>