<!-- <app-navbar></app-navbar> -->
<!-- HTML del header -->


<div class="wrapper" >
  
    <div class="right"></div>

    <app-navbar></app-navbar>
<!-- HTML del header -->
   

   <!-- FIN HTML del header -->

   <!-- INICIO DE LA PORTADA -->

    <div class="name" #title>Las mejores Series y Peliculas</div>
    <div  class="content">
        <div class="img-wrapper">
            <div data-aos="fade-right" class="banner"></div>
        </div>

      
    </div>

     <!-- FIN DE LA PORTADA -->

</div>

<!-- FIN HTML del header -->



<!-- INICIO HTML CONTENIDO IMG -->


<div data-aos="zoom-out-up" data-aos-duration="1000" class="container-img">
    <div class="box-img">
        <div class="imgBox">
            <img src="../../assets/img/marvel.png">
        </div>
    </div>

    <div class="box-img">
        <div class="imgBox">
            <img src="../../assets/img/toy.png">
        </div>
    </div>


    <div class="box-img">
        <div class="imgBox">
            <img src="../../assets/img/dark.png">
        </div>
    </div>

    <div class="box-img">
        <div class="imgBox">
            <img src="../../assets/img/iron-man.png">
        </div>
    </div>
</div>




<!-- FIN HTML CONTENIDO IMG -->

<hr>

<!-- INICIO HTML SECCION MAC -->
<div data-aos="zoom-in" data-aos-duration="1000" class="content1">


    <div class="flex">
        <div class="flex-text">
            <h2>Disfruta en tu mac</h2>
        </div>

        <div class="flex-img">
            <img class="mac" src="../../assets/img/mac.png">
        </div>
    </div>


</div>

<!-- FIN HTML SECCION MAC -->
<hr>

<!-- INICIO HTML SECCION IPHONE -->
<div data-aos="zoom-in" data-aos-duration="1000" class="content2">

    <div class="flex">
        <div class="flex-text">
            <h2>Disfruta en tu Iphone</h2>
        </div>

        <div class="flex-img">
            <img class="mac" src="../../assets/img/iphone.png">
        </div>
    </div>


</div>


<!-- FIN HTML SECCION IPHONE -->


