<app-navbar></app-navbar>



<section data-aos="fade-right" class="section-add-movie " >
    
    <div class="container-add-movie">
        <h2>Agregar Serie</h2>
        <form [formGroup]="seriesForm" (ngSubmit)="guardar()" >
        <div class="row100">
            <div class="col">
                <span *ngIf="validarCampos('tiulo')" class="errors" >* El titulo es obligatorio *</span>

                    <div class="inputBoxMovie">


                        <input type="text" formControlName="titulo">
                        <span class="text">Titulo</span>
                        <span class="line"></span>

                    </div>

                
            </div>

            
            <div class="col">
                <span *ngIf="validarCampos('stock')" class="errors">* El stock es  obligatorio *</span>

                <div class="inputBoxMovie">

                    <input type="number" formControlName="stock">
                    <span class="text">Stock</span>
                    <span class="line"></span>

                </div>
            </div>

        </div>

        <div class="row100">



            <div class="col">
                <div class="content-errors">
                <span *ngIf="validarCampos('temporada')" class="errors">* La temporada es obligatorio *</span>

                </div>

                <div class="inputBoxMovie">

                    <input type="number" formControlName="temporada">
                    <span class="text">Temporada</span>
                    <span class="line"></span>

                </div>
            </div>

            <div class="col">
                <div class="content-errors">
                    <span *ngIf="validarCampos('precioVenta')" class="errors">* El Precio Venta es obligatorio *</span>
    
                    </div>
                <div class="inputBoxMovie">

                    <input type="number" formControlName="precioVenta">
                    <span class="text">Precio Venta</span>
                    <span class="line"></span>

                </div>
            </div>

            

        </div>

         
       
        <div class="row100">
            <div class="col">
            
                <div class="content-errors">
                    <span *ngIf="validarCampos('descripcion')" class="errors">* La descripción es obligatoria *</span>
    
                    </div>
                <div class="inputBoxMovie textarea">
                    <textarea formControlName="descripcion"></textarea>
                    <span class="text">Descripción</span>
                    <span class="line"></span>
                </div>
            </div>
        </div>

        <div class="row100">
            <div class="col">
                <div class=" textarea">
                    <input type="file" />
                    
                    <span class="line"></span>
                </div>
   
            </div>
        </div>
 
        <div class="row100">
            <div class="col">
                <input  type="submit" value="Guardar"/>
                <!-- <fa-icon *ngIf="cargando"[icon]="faSpinner"></fa-icon> -->
               
            </div>

        </div>


      
    </form>

    </div>
</section>