


<app-navbar></app-navbar>

<div class="contenido-peli" >

    <fa-icon *ngIf="cargando" [icon]="faspinner" size="10x" [spin]="true" class="icon-spinner"></fa-icon>
    <div data-aos="zoom-out-up"  aos-duration="2000" class="flex-peli" *ngFor=" let pelicula of peliculas" >

        <img [src]="pelicula.img" alt="">
        <div class="flex-span">

        <div ><span  class="badge bg-danger">Titulo: {{pelicula.titulo}}</span> </div>
        <div><span  class="badge bg-danger">Stock: {{pelicula.stock}}</span></div>
        <div><span  class="badge bg-danger">Precio Alquiler:{{pelicula.precioAlquiler | currency}}</span></div>
        <div><span  class="badge bg-danger">Precio Venta:{{pelicula.precioVenta | currency}}</span></div>
        </div>
        <div class="icons">

            <fa-icon class="icon-edits" [icon]="faEdit" size="2x"></fa-icon>
            <fa-icon class="icon-edits" [icon]="faTrash" size="2x"></fa-icon>

        </div>
    </div>
</div>
