


<app-navbar></app-navbar>

<div class="contenido-peli" >
    <div class="flex-peli" *ngFor=" let pelicula of peliculas" >

        <img [src]="img" alt="">
        <div class="flex-span">

        <div><span  class="badge bg-danger">Titulo: {{pelicula.titulo}}</span> </div>
        <div><span  class="badge bg-danger">Stock: {{pelicula.stock}}</span></div>
        <div><span  class="badge bg-danger">Precio Alquiler: {{pelicula.precioAlquiler}}</span></div>
        <div><span  class="badge bg-danger">Precio Venta: {{pelicula.precioVenta}}</span></div>
        </div>
        

    </div>
</div>
