


<app-navbar></app-navbar>

<div class="contenido-peli" >
    <div class="flex-peli" *ngFor=" let pelicula of peliculas">
        <img src="../../../assets/img/dark.png" alt="">
        <p><span class="badge bg-primary">Titulo</span> {{pelicula.titulo}}</p>
        <p><span class="badge bg-success">Stock:</span> {{pelicula.stock}}</p>
        <p><span class="badge bg-warning text-dark">Precio Alquiler:</span>{{pelicula.precioAlquiler}}</p>
        <p><span class="badge bg-warning text-dark">Precio Venta</span>{{pelicula.precioVenta}}</p>
        <p><span class="badge bg-primary">Descripción</span>{{pelicula.descripcion}}</p>
    </div>
</div>