
<app-navbar></app-navbar>

<section class="section-add-movie">
    <div class="container-add-movie">
        <h2>Agregar Pelicula</h2>
        <form>
        <div class="row100">
            <div class="col">
                    <div class="inputBoxMovie">

                        <input type="text">
                        <span class="text">Titulo</span>
                        <span class="line"></span>

                    </div>
            </div>

            <div class="col">

                <div class="inputBoxMovie">

                    <input type="text">
                    <span class="text">Stock</span>
                    <span class="line"></span>

                </div>
            </div>

        </div>

        <div class="row100">
            <div class="col">
                    <div class="inputBoxMovie">

                        <input type="text">
                        <span class="text">Precio Alquiler</span>
                        <span class="line"></span>

                    </div>
            </div>

            <div class="col">
                <div class="inputBoxMovie">

                    <input type="text">
                    <span class="text">Precio venta</span>
                    <span class="line"></span>

                </div>
            </div>

        </div>

        <div class="row100">
            <div class="col">
                <div class="inputBoxMovie textarea">
                    <textarea></textarea>
                    <span class="text">Descripción</span>
                    <span class="line"></span>
                </div>
            </div>
        </div>

        <div class="row100">
            <div class="col">
                <input type="submit" value="Guardar"/>
            </div>
        </div>
    </form>

    </div>
</section>