/* You can add global styles to this file, and also import other style files */
*{
    margin: 0px;
    padding: 0px;
}


body{

    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
    width: 100%;
    height: 100vh;
    background: black;
    color: #fff;
}
/*INICIO DE ESTILO DEL NAVBAR*/
ul{
    list-style: none;
}


.right{

    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}



.right{

    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, #4343433a 0%, rgba(0, 0, 0, 0.829) 100%), url('./assets/img/banner.png');
    right: 0%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    object-fit: cover;
    image-rendering: crisp-edges;
}

.nav{

    background: rgba(0, 0, 0, 0.767);
}
.nav ul{

    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    padding: 0 20px;
}

.nav ul li{

    display: inline-block;
    
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 14px;
    font-weight: 600;
    padding: 0 30px;
    justify-content: center;
}

.nav a{

    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.nav .logo{

    flex: 1;
    font-size: 18px;
    letter-spacing: 0;
}

.nav .menu{

    flex:1;
    font-size: 18px;
}

.nav .collection{
    flex: 1;
}

.nav .explore{

    flex: 1;
}

.nav .search{

    flex:1;
}


/*FIN DE ESTILO DEL NAVBAR*/


/*INICIO DE ESTILO DEL TITULO*/

.name{
    
    text-align: center;
    top: 100%;
    margin-top: 120px;
    transform: translateY(-50%);
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 2px red;
    text-align: center;
   

}


.img-wrapper .banner{

    width: 1024px;
    height: 675px;


}

/*FIN DE ESTILO DEL TITULO*/


/*INICIO DE ESTILO DEL MENU FOOTER HEADER*/

.info{
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
}

.info ul li {

    display: inline-block;
    padding: 20px 25px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 8px;
    font-weight: 600;
}


/*INICIO DE ESTILO SECCION MAC Y IPHONE*/

.content1{

    width: 100%;
    height: 400px;
    background: black;
    color: #fff;
    display: flex;  
}

.content2{

    width: 100%;
    height: 400px;
    color: #fff;
    background: black;
  
}

.flex{

  display: inline-flex;
  width: 100%;
  height: 500px;
}
.flex-text{

    width: 50%;
    height: 500px;
   
}

.flex-text h2{

    font-size: 60px;
    margin-top: 170px;
    margin-left: 20px;
    text-align: center;
}

.flex-img{

    width: 60%;
    height: 500px;
   
}

.mac{
    margin-left: 462px;
}


/*FIN DE ESTILO SECCON MAC Y IPHONE*/



/*INICIO DE ESTILO SECCION MAC LOGIN Y FORMULARIO*/

.formularios{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

.formularios .color{

    position: absolute;
    filter: blur(150px);
}

.formularios .color:nth-child(1){

    top: -350px;
    width: 600px;
    height: 600px;
    background: rgba(255, 255, 255, 0.144);
}

.formularios .color:nth-child(2){

    bottom: -150px;
    margin-left: 100px;
    width: 500px;
    height: 500px;
    background: rgba(255, 255, 255, 0.068);
}

.formularios .color:nth-child(3){

    bottom: 50px;
    margin-right: 100px;
    width: 300px;
    height: 300px;
    background:rgba(255, 255, 255, 0.123);
}

.box{

    position: relative;
}


.box .square{

    position: absolute;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    animation: animate 10s linear infinite;
    animation-delay: calc(-1% * var(--i));
}

@keyframes animate {

    0%, 100%{
        transform: translateY(-40px);
    }

    50%{

        transform: translateY(40px);
    }
}

.box .square:nth-child(1){

    top: -50px;
    right: -60px;
    width: 100px;
    height: 100px;
}

.box .square:nth-child(2){

    top: 150px;
    left:-100px;
    width: 120px;
    height: 120px;
    z-index: 2;
}


.box .square:nth-child(3){

    bottom: 50px;
    right: -60px;
    width: 80px;
    height: 80px;
    z-index: 2;
}

.box .square:nth-child(4){

    bottom: -80px;
    left: 100px;
    width: 90px;
    height: 60px;
}


.box .square:nth-child(5){

    top: -80px;
    left: 140px;
    width: 60px;
    height: 60px;
}

.container{

    position: relative;
    width: 400px;
    min-height: 500px;
    background: rgba(255, 255, 255, 0.041);
    border-radius: 10px;
    display: flex;
    justify-items: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-right: 1px solid rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}
.form{

    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px;
    margin-top: -70px;
}


.form h2{

    position: relative;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

.form h2::before{

    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 80px;
    height: 4px;
    background: #fff;
}

.form .inputBox input, button{

    width: 100%;
    background: rgb(255, 255, 255);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 35px;
    margin-bottom: 25px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    letter-spacing: 1px;
    color: #000;
    box-shadow:  0 5px 15px rgba(0, 0, 0, 0.05);
}

.btn-submit{
    
    background: #fff;
    color: #000;
}

.btn-submit:hover{
    
    background: rgba(255, 0, 0, 0.856);
    color: #fff;
    cursor: pointer;
}

.forget{

    font-size: 16px;
    text-align: center;
    letter-spacing: 1px;
}

.forget a{

    color: #fff;
}

.invalid-campo{

    position: absolute;
    color: red;
    font-size: 15px;
    border: 1px solid red;
    margin-top: -100px;
    margin-top: -22px;
    margin-left: 6px;
}


/*RESPONSIVE*/


/*INICIO DEL ESTILO FORMULARIO AGREGAR PELICULAS*/

.section-add-movie{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: black;
}

.section-add-movie::before{

    content:  '';
    position: absolute;
    width: 400px;
    height: 400px;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    border-radius: 50%;
    transform: translate(-420px, -150px);
}


.section-add-movie::after{

    content:  '';
    position: absolute;
    width: 350px;
    height: 350px;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    border-radius: 50%;
    transform: translate(400px, 115px);
}

.container-add-movie{

    position: relative;
    z-index: 1000;
    width: 100%;
    max-width: 1000px;
    padding: 30px;
    background: rgba(19, 4, 4, 0.274);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    overflow: hidden;
    backdrop-filter: blur(10px);
    margin-top: -90px;
}

.container-add-movie::before{

    content: "";
    position: absolute;
    top: 0;
    left: -40%;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255, 0.05);
    pointer-events: none;
    transform: skewX(-15deg);

}

.container-add-movie h2{

    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 36px;
    margin-bottom: 20px;
}

.container-add-movie .row100{

    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}


.container-add-movie .row100 .col{

    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 20px;
}

.container-add-movie .row100 .col .inputBoxMovie{

    position: relative;
    width: 100%;
    height: 40px;
    color: #fff;
}


.container-add-movie .row100 .col .inputBoxMovie input,
.container-add-movie .row100 .col .inputBoxMovie textarea{

    position: absolute;
    width: 80%;
    height: 80%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 0 10px;
    z-index: 1;
    color: #fff;
}

.container-add-movie  .row100 .col .inputBoxMovie .text{

    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}


.container-add-movie .row100 .col .inputBoxMovie input:focus + .text,
.container-add-movie .row100 .col .inputBoxMovie input:valid + .text,
.container-add-movie .row100 .col .inputBoxMovie textarea:focus + .text,
.container-add-movie .row100 .col .inputBoxMovie textarea:valid + .text
{


    top: -35px;
    left: -10px;
}

.container-add-movie .row100 .col .inputBoxMovie .line
{
    position: absolute;
    bottom: 0;
    display: block;
    width: 80%;
    height: 2px;
    background: transparent;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
    border: 1px solid #fff;
}


.container-add-movie .row100 .col .inputBoxMovie input:focus ~ .line,
.container-add-movie .row100 .col .inputBoxMovie input:valid ~ .line,
.container-add-movie .row100 .col .inputBoxMovie textarea:focus ~ .line,
.container-add-movie .row100 .col .inputBoxMovie textarea:valid ~ .line
{

    height: 100%;
}



.container-add-movie .row100 .col .inputBoxMovie .textarea{

    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0;


}

.container-add-movie  .row100 .col input[type="submit"]
{

    border: none;
    padding: 10px 40px;
    cursor: pointer;
    outline: none;
    background: #fff;
    color: #000;
    font-weight: 600;
    font-size: 18px;
    border-radius: 2px;

}


.container-add-movie  .row100 .col input[type="file"]
{

    width: 700px;
    border: none;
    cursor: pointer;
    outline: none;
    background: transparent;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    border-radius: 2px;
}

.errors{

    width: 70%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    margin-top: -60px;
  
    border-radius: 10px;

}

.div-errors{

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

 .errors{

    font-size: 18px;
    color: red;
    font-weight: 600;
    letter-spacing: 1px;
    position: absolute;
    top: -20px;
    margin-left: -60px;
    overflow: hidden;
}

.content-errors{

    margin-left: 50px;
    width: fit-content;
    overflow: hidden;
}


/*FIN DEL ESTILO FORMULARIO AGREGAR PELICULAS*/




/*INICIO DE ESTILO SECCION PELICULAS */






/*FIN DE ESTILO SECCION PELICULAS */

/*INICIO DE ESTILO IMAGENES HOME*/

.container-img{

    position: relative;
    display: flex;
    height: calc(100% - 200px);
    width: calc(100% - 200px);
    z-index: 100;
    justify-content:center;
    align-items: center;
}

.container-img .box-img{

    position: relative;
    width: 25%;
    height: 100%;
    overflow: hidden;
    border-right: 10px solid #000;
}

.container-img .box-img:last-child{

    border-right: none;

}

.container-img .box-img .imgBox{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.container-img .box-img .imgBox .active{

    position: fixed;
    top: 100px;
    left: 100px;
    width: calc(100% - 200px);
    height: calc(100% - 200px);
    z-index: 1000;
    opacity: 1;
  
}

.container-img .box-img .imgBox img{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}






/*FIN DE ESTILO IMAGENES HOME*/


.contenido-peli{

    display: flex;
    flex-direction:row;
    width: 100%;
    height: 100vh;
   
}

.flex-peli{

    width: 600px;
    height: 600px;
    background: #000;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
}
.flex-peli img{

    width: 600px;
    height: 200px;
    display: block;
    margin: 0px auto;
    object-fit:cover;
   
}

@media (max-width: 1548px){

    .mac {
        margin-left: 293px;
    }
}