/* You can add global styles to this file, and also import other style files */
*{
    margin: 0px;
    padding: 0px;
}


body{

    font-family:'Times New Roman', Times, serif;
    font-size: 12px;
    width: 100%;
    height: 100vh;
    background: black;
    color: #fff;
}
/*INICIO DE ESTILO DEL NAVBAR*/
ul{
    list-style: none;
}


.right{

    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}



.right{

    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, #4343433a 0%, rgba(0, 0, 0, 0.829) 100%), url('./assets/img/banner.png');
    right: 0%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    object-fit: cover;
    image-rendering: crisp-edges;
}

.nav{

    background: rgba(0, 0, 0, 0.767);
}
.nav ul{

    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    padding: 0 20px;
}

.nav ul li{

    display: inline-block;
    
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 18px;
    font-weight: 600;
    padding: 0 30px;
    justify-content: center;
}

.nav a{

    text-decoration: none;
    color: red;
    cursor: pointer;
}
.nav .logo{

    flex: 1;
    font-size: 18px;
    letter-spacing: 0;
}

.nav .menu{

    flex:1;
    font-size: 18px;
}

.nav .collection{
    flex: 1;
}

.nav .explore{

    flex: 1;
}

.nav .search{

    flex:1;
}


/*FIN DE ESTILO DEL NAVBAR*/


/*INICIO DE ESTILO DEL TITULO*/

.name{
    
    text-align: center;
    top: 100%;
    margin-top: 120px;
    transform: translateY(-50%);
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 2px red;
    text-align: center;
   

}


.img-wrapper .banner{

    width: 1024px;
    height: 675px;


}

/*FIN DE ESTILO DEL TITULO*/


/*INICIO DE ESTILO DEL MENU FOOTER HEADER*/

.info{
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
}

.info ul li {

    display: inline-block;
    padding: 20px 25px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 8px;
    font-weight: 600;
}


/*INICIO DE ESTILO SECCION MAC Y IPHONE*/

.content1{

    width: 100%;
    height: 400px;
    background: black;
    color: #fff;
    display: flex;  
}

.content2{

    width: 100%;
    height: 400px;
    color: #fff;
    background: black;
  
}

.flex{

  display: inline-flex;
  width: 100%;
  height: 500px;
}
.flex-text{

    width: 50%;
    height: 500px;
   
}

.flex-text h2{

    font-size: 60px;
    margin-top: 170px;
    margin-left: 20px;
    text-align: center;
}

.flex-img{

    width: 60%;
    height: 500px;
   
}

.mac{
    margin-left: 462px;
}


/*FIN DE ESTILO SECCON MAC Y IPHONE*/



/*INICIO DE ESTILO SECCION MAC LOGIN Y FORMULARIO*/

.formularios{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

.formularios .color{

    position: absolute;
    filter: blur(150px);
}

.formularios .color:nth-child(1){

    top: -350px;
    width: 600px;
    height: 600px;
    background: rgba(255, 255, 255, 0.144);
}

.formularios .color:nth-child(2){

    bottom: -150px;
    margin-left: 100px;
    width: 500px;
    height: 500px;
    background: rgba(255, 255, 255, 0.068);
}

.formularios .color:nth-child(3){

    bottom: 50px;
    margin-right: 100px;
    width: 300px;
    height: 300px;
    background:rgba(255, 255, 255, 0.123);
}

.box{

    position: relative;
}


.box .square{

    position: absolute;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    animation: animate 10s linear infinite;
    animation-delay: calc(-1% * var(--i));
}

@keyframes animate {

    0%, 100%{
        transform: translateY(-40px);
    }

    50%{

        transform: translateY(40px);
    }
}

.box .square:nth-child(1){

    top: -50px;
    right: -60px;
    width: 100px;
    height: 100px;
}

.box .square:nth-child(2){

    top: 150px;
    left:-100px;
    width: 120px;
    height: 120px;
    z-index: 2;
}


.box .square:nth-child(3){

    bottom: 50px;
    right: -60px;
    width: 80px;
    height: 80px;
    z-index: 2;
}

.box .square:nth-child(4){

    bottom: -80px;
    left: 100px;
    width: 90px;
    height: 60px;
}


.box .square:nth-child(5){

    top: -80px;
    left: 140px;
    width: 60px;
    height: 60px;
}

.container{

    position: relative;
    width: 400px;
    min-height: 500px;
    background: rgba(255, 255, 255, 0.041);
    border-radius: 10px;
    display: flex;
    justify-items: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-right: 1px solid rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}
.form{

    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px;
    margin-top: -70px;
}


.form h2{

    position: relative;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

.form h2::before{

    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 80px;
    height: 4px;
    background: #fff;
}

.form .inputBox input, button{

    width: 100%;
    background: rgb(255, 255, 255);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 35px;
    margin-bottom: 25px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    letter-spacing: 1px;
    color: #000;
    box-shadow:  0 5px 15px rgba(0, 0, 0, 0.05);
}

.btn-submit{
    
    background: #fff;
    color: #000;
}

.btn-submit:hover{
    
    background: rgba(255, 0, 0, 0.856);
    color: #fff;
    cursor: pointer;
}

.forget{

    font-size: 16px;
    text-align: center;
    letter-spacing: 1px;
}

.forget a{

    color: #fff;
}

.invalid-campo{

    position: absolute;
    color: red;
    font-size: 15px;
    border: 1px solid red;
    margin-top: -100px;
    margin-top: -22px;
    margin-left: 6px;
}


/*RESPONSIVE*/

@media (max-width: 1548px){

    .mac {
        margin-left: 293px;
    }
}